
@{
    ViewBag.Title = "Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<br />

<table id="example" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>asset_id</th>
            <th>file_name</th>
            <th>mime_type</th>
            <th>created_by</th>
            <th>email</th>
            <th>country</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "deferRender": true,
            "paging" : true,
            "ordering": false,
            "searching": true,
            "stateSave": true,
            "ajax": {
                "url": "http://localhost:2933/api/Get",
                "dataSrc": ""
            },
            "columns": [
                { "data": "asset_id", "name": "asset_id",render: function(data,type,asset) {
                        return "<a href='/Home/Asset/" + asset.asset_id + "'>" + asset.asset_id + "/>";
                    }
                },
                { "data": "file_name", "name": "file_name" },
                { "data": "mime_type", "name": "mime_type" },
                { "data": "created_by", "name": "created_by" },
                { "data": "email", "name": "email" },
                { "data": "country", "name": "country" }
            ]
        });
    });

</script>
